/**
* COLORS
*/
:root {
  --color-main: #AF8164;
  --color-main-hover: #bf957b;
  --color-secondary: #38B7C1;
  --desktop-page-width: 1180px;
  --desktop-tiny-wrapper-width: 620px;
  --header-height: 80px;
}

* {
  font-family: 'Lato', sans-serif !important;
}

strong {
  font-weight: bold;
}

.hero-image {
  position: relative;
}

.hero-product {
  position: absolute;
  bottom: 0;
  right: 60px;
  background: url('mei-organics-product.png');
  background-size: 102px 435px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 102px;
  height: 435px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
}

.hero-background {
  background: url('./mei-organics-hero.jpg');
  height: 700px;
  background-size: 525px 700px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-product--visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 1000ms 500ms ease-in;
}

.hero-image img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif !important;
}

.wrapper {
  max-width: var(--desktop-page-width);
  margin: 0 auto;
  padding: 0 20px;
}

.d-flex {
  display: flex;
}

p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.mei-organics-circle {
  position: fixed;
  right: 140px;
  bottom: 140px;
  width: 100px;
  height: 100px;
  background: #000;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFF;
  z-index: 40;
}

.mei-organics-circle:hover {
  transition: all 100ms ease-in;
  background: var(--color-main);
}

.mei-organics-circle:focus {
  outline: none;
}

.mei-organics-circle img {
  width: 65px;
  height: 30px;
}

header {
  background: #000;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header-inner {
  padding: 24px 0;
  align-items: center;
}

.header-logo {
  margin-right: auto;
}

.header-cart {
  align-items: center;
  color: #FFF;
  font-size: 16px;
}

.header-cart-icon {
  margin-right: 8px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  padding: 0 28px;
  color: #FFF;
  font-size: 14px;
  background: var(--color-main);
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: var(--color-main-hover);
}

.btn-icon {
  margin-left: 8px;
}

.btn--large {
  height: 68px;
  padding: 0 42px;
  font-size: 20px;
}

.language-selector {
  position: relative;
  margin: 0 16px;
}

.language-selector-active {
  width: 70px;
  height: 40px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: all 150ms ease-in-out;
  color: #FFF;
}

.language-selector-active:hover {
  background: var(--color-main);
  color: #FFF;
  cursor: pointer;
  transition: all 150ms ease-in;
}

.language-selector--opened .language-selector-active {
  background: #FFF;
  border-color: var(--color-main);
  color: #000;
}

.language-selector-dropdown {
  position: absolute;
  top: calc(100% + 2px);
  background: #FFF;
  width: 70px;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid var(--color-main);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  transition: all 150ms ease-in-out;
}

.language-selector--opened .language-selector-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 150ms ease-in;
}

.language-selector-dropdown-option {
  color: #000;
  font-weight: 600;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.language-selector-dropdown-option:hover {
  color: var(--color-main);
  cursor: pointer;
}

.top-banner {
  height: 30px;
  background: var(--color-main);
  color: #FFF;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  z-index: 10;
}

.top-banner-icon {
  margin-right: 16px;
}

.top-banner-item {
  display: flex;
  align-items: center;
}

.top-banner-item:not(:last-child) {
  margin-right: 42px;
}

.top-banner-text {
  font-size: 16px;
  font-weight: 600;
}

.top-banner-close {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.top-banner--hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 150ms ease-in;
}

main {
  padding-top: 142px;
}

.first-section {
  display: grid;
  gap: 130px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.first-section h1 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 16px;
}

.first-section h2 {
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 16px;
}

.first-section h3 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 16px;
}

.reviews {
  display: flex;
  align-items: center;
}

.reviews-icons {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.review-icon:not(:last-child) {
  margin-right: 10px;
}

.reviews-text {
  font-size: 16px;
}

.first-section .reviews,
.first-section p {
  margin-bottom: 30px;
}

.first-section .btn {
  max-width: 100px;
}

.second-section {
  margin-top: 100px;
}

.second-section-top {
  background: url('./section-black-start.png') top center repeat-x;
  background-size: cover;
  height: 46px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .second-section-top {
    background: url('./section-black-start@2x.png') top center repeat-x;
  }

  .hero-background {
    background-image: url('./mei-organics-hero@2x.jpg');
  }
}

.second-section-content {
  padding: 40px 0;
  background: #000;
}

.second-section-content h2 {
  color: #FFF;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  max-width: var(--desktop-tiny-wrapper-width);
  margin: 0 auto;
  padding-bottom: 40px;
}

.second-section-row {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.third-section {
  margin-top: 80px;
}

.tabs-wrap {
  border-bottom: 2px solid #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  padding-bottom: 16px;
  border-bottom: 4px solid transparent;
}

.tab--active {
  color: var(--color-main);
  border-bottom-color: var(--color-main);
}

.tab:not(.tab--active):hover {
  color: var(--color-main);
  cursor: pointer;
}

.tab:not(:last-child) {
  margin-right: 64px;
}

.tabs-content {
  padding-top: 48px;
  min-height: 288px;
}

.tab-content {
  max-width: var(--desktop-tiny-wrapper-width);
  margin: 0 auto;
  display: none;
}

.tab-content--visible {
  display: block;
}

.tab-content ul {
  list-style: disc;
  font-size: 18px;
  line-height: 24px;
  padding-left: 22px;
  margin-bottom: 10px;
}

.tab-content h2 {
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 24px;
}

.tab-content.vprasaj h2 {
  padding: 20px 0;
}

.tab-content.vprasaj h2:first-child {
  padding-top: 0;
}

.tab-content h3:not(:first-of-type) {
  margin-top: 24px;
}

.third-section,
.fourth-section,
.fifth-section,
.sixth-section,
.seventh-section {
  margin-bottom: 80px;
}

.sixth-section {
  background: #FFF;
  position: relative;
  z-index: 30;
}

.fourth-section img {
  object-fit: cover;
  width: 100%;
}

.top-two-images {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 65px;
  width: 100%;
}

.fifth-section {
  background: #000;
  height: 224px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}

.section-advantages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage-icon {
  display: flex;
  justify-content: center;
}

.advantage:not(:last-child) {
  margin-right: 100px; 
}

.advantage-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #FFF;
  margin-top: 16px;
  text-align: center;
}

.shop-section {
  display: grid;
  gap: 130px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.shop-section img,
.second-section-column img {
  width: 100%;
}

.shop-option {
  display: flex;
  align-items: center;
  height: 100px;
  border: 1px solid #000;
  padding: 0 24px;
  margin-bottom: 24px;
  transition: all 100ms ease-in-out;
}

.shop-option--inner {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.shop-option-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 80px;
}

.shop-option:not(.shop-option--selected):hover {
  cursor: pointer;
  background: rgba(0, 0, 0, .1);
}

.shop-option * {
  pointer-events: none;
}

.shop-option--selected {
  background: var(--color-secondary);
  color: #FFF;
  transition: all 100ms ease-in;
}

.shop-option-title {
  font-weight: 600;
}

.shop-option--quantity {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.shop-option--title .shop-option--inner {
  flex-wrap: wrap;
}

.shop-option--title .shop-option--inner > div:first-child {
  width: 100%;
  margin-bottom: 8px;
}

.shop-option--name {
  margin-right: auto;
  font-size: 18px;
}

.shop-option--previous-price {
  align-self: flex-end;
  margin-bottom: 14px;
  font-size: 14px;
}

.shop-option--new-price {
  align-self: flex-end;
  font-weight: 600;
  font-size: 18px;
}

.btn--add-to-cart {
  height: 54px;
  background: #000;
  border-bottom: 8px solid var(--color-secondary);
  font-size: 20px;
}

.btn--add-to-cart:hover {
  background: var(--color-secondary);
}

.btn--add-to-cart img {
  width: 20px;
  height: 20px;
  margin-left: 16px;
}

.credit-cards {
  display: flex;
  margin-top: 54px;
  align-items: center;
  justify-content: center;
}

.credit-card {
  width: 47px !important;
  height: 30px;
}

.credit-card:not(:last-child) {
  margin-right: 10px;
}

.perks {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perk {
  display: flex;
  align-items: center;
}

.perk:not(:last-child) {
  margin-right: 42px;
}

.perk-icon {
  margin-right: 16px;
}

.perk-icon img {
  width: auto;
}

.perk-text {
  font-size: 16px;
  font-weight: 600;
}

.seventh-section h2,
.eight-section h2 {
  font-size: 28px;
  line-height: 33px;
  text-align: center;
}

.loading-instagram-photos {
  text-align: center;
  margin-top: 32px;
  font-size: 16px;
  font-weight: 600;
}

.loading-instagram-photos--hidden {
  display: none;
}

.instagram-feed {
  margin-top: 32px;
  opacity: 0;
  visibility: hidden;
  height: 230px;
  overflow: hidden;
  position: relative;
}

.instagram-handlers {
  margin-top: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram-handle--text {
  font-size: 16px; 
  font-weight: 600;
  margin: 0 42px;
  color: #000;
  text-decoration: none;
}

.instagram-handle {
  cursor: pointer;
}

.instagram-handle img {
  pointer-events: none;
}

.instagram-handle--text:hover {
  text-decoration: underline;
}

.instagram-prev {
  left: 20px;
}

.instagram-forward {
  right: 20px;
}

.instagram-feed--loaded {
  opacity: 1;
  visibility: visible;
  transition: all 150ms ease-in;
}

.instagram-feed--inner {
  display: flex;
  justify-content: center;
  transition: transform 150ms ease-in;
}

.instagram-photo {
  height: 230px;
  width: 230px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 100ms ease-in-out;
}

.instagram-photo:hover {
  transform: scale(1.02);
  transition: all 100ms ease-in;
}

.instagram-photo--link {
  background: var(--color-secondary);
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.feedback-section {
  display: grid;
  gap: 150px;
  grid-template-columns: 1fr 2fr;
  margin-top: 72px;
}

.feedback-grade {
  align-items: center;
  display: flex;
}

.feedback-grade-number {
  font-size: 45px;
  margin-right: 16px;
}

.feedback-grade-stars-count {
  margin-top: 10px;
  font-size: 12px;
}

.feedback-lines {
  margin-top: 44px;
}

.feedback-line {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.feedback-line-title {
  margin-right: 8px;
  font-size: 12px;
}

.feedback-line-count {
  font-size: 12px;
}

.feedback-line-line {
  width: 240px;
  background: #E0E0E0;
  border-radius: 11px;
  margin-right: 8px;
  position: relative;
  height: 6px;
}

.feedback-line-line-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 11px;
  background: var(--color-main);
  height: 6px;
}

.feedback-line-line-inner--5 {
  width: 85%;
}

.feedback-line-line-inner--4 {
  width: 12%;
}

.feedback-line-line-inner--3 {
  width: 2%;
}

.feedback-line-line-inner--2 {
  width: 0%;
}

.feedback-line-line-inner--1 {
  width: 0%;
}

.feedback-satisfaction-number {
  margin-top: 44px;
  font-size: 45px;
}

.feedback-satisfaction-text {
  margin-top: 8px;
  font-size: 12px;
}

.single-feedback--hidden {
  display: none;
}

.single-feedback-title {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 600;
}

.single-feedback-body,
.single-feedback-name {
  margin-top: 16px;
  font-size: 18px;
  line-height: 22px;
}

.single-feedback:not(:first-child) {
  margin-top: 32px;
  padding-top: 32px;
  border-top: 2px solid #E0E0E0;
}

.btn--feedback {
  margin-top: 48px;
  max-width: 100px;
  font-size: 20px;
}

footer {
  margin-top: 120px; 
  background: #000;
  padding: 64px 0;
}

.footer-social-link {
  width: 36px;
  height: 36px;
  background: var(--color-main);
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-top > img {
  margin-right: 40px;
}

.footer-social-link:not(:last-child) {
  margin-right: 24px;
}

.footer-middle {
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  margin-top: 32px;
  text-align: center;
}

.footer-bottom {
  list-style: none;
  margin: 32px auto 0;
  padding: 0;
  font-weight: 600;
  display: flex;
  font-size: 16px;
  justify-content: center;
}

.footer-bottom-link {
  color: var(--color-main);
  text-decoration: none;
  display: block;
}

.footer-bottom li:not(:last-child) {
  margin-right: 40px;
}

.bottom-hero {
  height: 744px;
  position: relative;
}

.bottom-hero-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 622px;
  background: url('hero-bottom-top.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.bottom-hero-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 156px;
  background: url('hero-bottom-bottom.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
}

.bottom-hero-product {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 80px);
  width: 133px;
  height: 596px;
  z-index: 2;
  background: url('mei-organics-bronzer.png');
  background-size: cover;
  background-repeat: no-repeat;  
}

.visible-mobile {
  display: none;
}

@media screen and (max-width: 480px) {
  .visible-mobile {
    display: inherit;
  }

  .hidden-mobile {
    display: none;
  }

  .wrapper {
    max-width: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  main {
    padding-top: 80px;
  }

  img {
    max-width: 100%;
  }

  .first-section,
  .feedback-section {
    display: block;
  }

  .second-section-row,
  .top-two-images,
  .shop-section {
    display: flex;
  }

  .shop-section {
    align-items: unset;
    flex-direction: column;
  }

  .top-two-images {
    margin-bottom: 10px;
  }

  .top-two-images img {
    width: 50%;
    max-height: 240px;
  }

  .shop-customizer {
    order: 2;
    padding: 80px 24px 0;
    position: relative;
  }

  .perks {
    flex-direction: column;
  }

  .perk:not(:last-child) {
    margin: 0 0 32px;
  }

  .second-section-content h2 {
    font-size: 20px;
    line-height: 26px;
    padding: 0 24px 48px;
  }

  .second-section-content {
    padding-bottom: 0;
  }

  .tabs {
    overflow-x: auto;
    padding: 0 24px;
    height: 38px;
    display: flex;
    align-items: flex-start;
  }

  .tabs-wrap {
    margin: 0 -24px;
    padding: 0 24px;
    justify-content: flex-start;
  }

  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre;
    position: relative;
  }

  .tab--active:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    height: 4px;
    background: var(--color-main);
    z-index: 20;
  }

  .tab:not(:last-child) {
    margin-right: 40px;
  }

  .first-section-content {
    padding: 32px 24px 0;
  }

  .hero-product {
    height: 320px;
    width: 73px;
    right: 20px;
  }

  .top-banner {
    position: relative;
  }

  .top-banner-item:not(:last-child) {
    margin-right: 0;
  }

  .top-banner-item:nth-child(2) {
    display: none;
  }

  .language-selector-active {
    background: none;
    width: auto;
    height: auto;
    color: #FFF;
    border: none;
  }

  header {
    padding: 0 24px;
    width: auto;
    right: 0;
  }

  .header-logo {
    width: 68px;
    height: 31px;
    margin-right: 16px;
  }

  .btn {
    padding: 0 16px;
  }

  .header-inner {
    justify-content: space-between;
  }

  .first-section .btn {
    max-width: 100%;
  }

  .second-section {
    margin-top: 50px;
  }

  .tab-content {
    padding: 0 24px;
  }

  .advantage:not(:last-child) {
    margin-right: 50px;
  }

  .swipe-element {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swipe-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  .swipe-navigation-item {
    width: 8px;
    height: 8px;
    border: 1px solid #FFF;
    border-radius: 8px;
  }

  .swipe-navigation-item--active {
    background: #FFF;
  }

  .swipe-navigation-item:not(:last-child) {
    margin-right: 8px;
  }

  .fourth-section,
  .fifth-section {
    margin-bottom: 0;
  }

  .fifth-section {
    height: 210px;
    margin-top: -600px;
  }

  .advantage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
  }

  .advantage-icon,
  .advantage-icon img {
    width: 40px;
    height: 40px;
  }

  .advantage-icon {
    align-items: center;
  }

  .advantage-icon img {
    margin: 0 auto;
  }

  .section-advantages {
    padding-top: 20px;
  }

  .instagram-handle {
    display: none;
  }

  .instagram-feed {
    overflow-x: auto;
  }

  .feedback-grade {
    justify-content: center;
  }
 
  .feedback-lines {
    padding: 0 0 0 24px;
  }

  .feedback-satisfaction-number,
  .feedback-satisfaction-text {
    text-align: center;
  }

  .feedback-users {
    margin-top: 26px;
    padding: 0 24px;
  }

  .btn--feedback {
    max-width: 100%;
  }

  .first-section h2 {
    font-size: 32px;
    line-height: 46px;
  }

  .bottom-hero {
    height: 624px;
  }

  .bottom-hero-product {
    width: 90px;
    height: 403px;
  }

  .shop-option-price {
    min-width: 65px;
  }

  .shop-customizer-mobile-breakpoint {
    position: absolute;
    top: -40px;
  }

  .language-selector--opened .language-selector-active,
  .language-selector-active:hover {
    background: none;
    color: #FFF;
  }

  .language-selector {
    margin: 0;
  }

  .mei-organics-circle {
    width: 50px;
    height: 50px;
    bottom: 24px;
    right: 24px;
    opacity: 0;
  }

  .mei-organics-circle img {
    width: 35px;
    height: 16px;
  }
}
